<div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-primary">Home</a></li>
        <li><a href="/about" class="nav-link px-2 text-black">About</a></li>
      </ul>

      <div class="text-end">
        <a href="/auth/google" type="button" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      </div>
    </div>
  </div>

  
  