<div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-primary">Home</a></li>
        </ul>

         <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0"
                role="search" method="POST" action="/dashboard/search">
             <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search"> 
         </form>

     

      <div class="col-md-9 text-end">
        <a href="/logout" type="button" class="btn btn-outline-dark">Log-out</a>
      </div>
    </div>
  </div>