<div class="container-fluid container-fluid-custom">
    <h1>About</h1>
    <br>
    <div>
        Welcome to my Note Taking App powered by Node.js!
    </div>
<br>
    <div>
        At NoteHarbor, we're dedicated to providing you with a seamless and efficient note-taking experience. Our
        app is built on the robust foundation of Node.js, ensuring a fast and reliable performance that keeps up with
        your busy lifestyle.
<div> <br>
        Why choose our Note Taking App? 

        Our app leverages the power of Node.js to deliver a responsive and dynamic note-taking
        experience. Say goodbye to sluggish interfaces and hello to smooth interactions.
    </div>
    </div>
</div>