<div class="container-fluid container-fluid-custom" >
<main>
    <div class="row py-md-5 text-center justify-content-center">
    <h1 class="display-2 position-relative">
    Feel free to write your ideas!
    </h1>
    <a href="/auth/google" class="btn btn-lg">Get Started!</a>
    </div>
</main>
</div>