<div class="container-fluid container-fluid-custom">
    <main>
        <div class="row py-md-5 text-center justify-content-center ">
            <h1 class="display-2 position-relative"> <br><br>
                <div id="container">
                    <div id="ring"></div>
                    <div id="ring"></div>
                    <div id="ring"></div>
                    <div id="ring"></div>
                    <div id="h3">NoteHarbor</div>
                </div> <br><br>
                Welcome to NoteHarbor! <br>
                <h3>This is where you can anchoring Your Thoughts in One Place.</h3>
            </h1><br>

            
            <a href="/auth/google" class="strBtn btn-lg text-align-center">Let's Begin</a>
            
            
        </div>
    </main>
</div>